/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.board {
	padding: 10ex;
	align-content: center;
}

.tile {
	float: left;
	font-weight: bold;
	text-align: center;
	width: 25%;
	border: 1px solid white;
	margin: 0px;
}

.tile:focus {
	outline: none;
}

.tile::-moz-focus-inner {border:0;}


